[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
