[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
syml-core = {editable = true, path = "./../core"}

[dev-packages]
pip = "*"

[requires]
python_version = "3.9"
