[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"
syml-core = {editable = true, path = "./../core"}
pyyaml = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.9"
