[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[include]]
source = "../core/Pipfile"

[packages]
syml_core = {editable = true, path = "./../core"}
fire = "*"

[dev-packages]

[requires]
python_version = "3.9"
