[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yamale = "*"
openapi_spec_validator = "*"
openapi_schema_validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
