[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
yamale = "*"
openapi_spec_validator = "*"
openapi_schema_validator = "*"

[dev-packages]
pipenv = "*"

[requires]
python_version = "3.9"
